<h1 mat-dialog-title class="text-center mb-3">Asignar "{{data.opportunity.name}} a</h1>
<div mat-dialog-content>
    <form [formGroup]="assignmentForm" class="h-100 d-flex flex-column">
        <div class="row mb-3">
            <mat-form-field class="col-12">
                <mat-label>Asignar a</mat-label>
                <mat-select name="assignedTo" formControlName="assignedTo">
                    <mat-option *ngFor="let user of data.users" [value]="user._id">{{user.name}} {{user.lastName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row d-flex justify-content-center align-items-center flex-grow-1">
            <button mat-raised-button [color]="themeColor" [mat-dialog-close]
                class="mr-4 on-hover-box-shadow">Cancelar</button>
            <button mat-raised-button [color]="themeColor" class="on-hover-box-shadow d-flex justify-content-center"
                (click)="submitForm()" [disabled]="!assignmentForm.valid && !isSubmitting">
                <span *ngIf="!isSubmitting">Asignar</span>
                <mat-spinner class="py-2" color="accent" diameter="20" *ngIf="isSubmitting"></mat-spinner>
            </button>
        </div>
    </form>
</div>