<div class="pt-4 h-100">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <app-dynamic-filters 
        [filters]="filters"
        (parentActions)="opportunitiesActions($event)"
        class="w-100">
    </app-dynamic-filters>
    <app-dynamic-table
        [dataSource]="opportunities"
        [columnsArray]="columns"
        [actions]="actions"
        [multiCheck]="false"
        [hasDetail]="true"
        [detailType]="'list'"
        [detailListItems]="'opportunityProposals'"
        [detailListColumns]="detailListColumns"
        [detailListActions]="detailListActions"
        [showLoader]="showLoader"
        (parentActions)="opportunitiesActions($event)"
        class="w-100 mb-5 d-flex justify-content-center align-items-center">
    </app-dynamic-table>
</div>