<h1 *ngIf="centro == null" mat-dialog-title class="text-center mb-3">Crear centro</h1>
<h1 *ngIf="centro != null" mat-dialog-title class="text-center mb-3">Editar centro "{{centro.nombre}}"</h1>
<div mat-dialog-content>
    <form [formGroup]="centroForm" class="h-100 d-flex flex-column">
        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Nombre" type="text" name="nombre" formControlName="nombre" [required]="true">
                <mat-error *ngIf="!!f.nombre.errors">
                    <span *ngIf="!!f.nombre.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Teléfono" type="text" name="telefono" formControlName="telefono" [required]="true">
                <mat-error *ngIf="!!f.telefono.errors">
                    <span *ngIf="!!f.telefono.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12">
                <textarea matInput placeholder="Descripción breve del centro" type="textarea" name="descripcion" formControlName="descripcion" [required]="true"></textarea>
                <mat-error *ngIf="!!f.descripcion.errors">
                    <span *ngIf="!!f.descripcion.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <div class="col-12">Sedes</div>
            <div formArrayName="sedes" class="col-12 p-0">
                <div class="col-12 p-0" *ngFor="let sede of sedesFormGroup.controls; let i = index; let first = first;" [formGroupName]="i">
                    <mat-form-field class="col-12 col-sm-3">
                        <input matInput placeholder="Nombre sede" type="text" name="nombre" formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field class="col-12 col-sm-3">
                        <mat-label>Localidad</mat-label>
                        <mat-select name="localidad" formControlName="localidad">
                            <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{localidad}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-sm-4">
                        <input matInput placeholder="Dirección" type="text" name="direccion" formControlName="direccion">
                    </mat-form-field>
                    <div class="col-2 d-inline-block text-center" *ngIf="!first">
                        <button mat-mini-fab class="on-hover-box-shadow" color="primary"
                            matTooltip="Eliminar sede" matTooltipPosition="above"
                            (click)="removeSede(i)">
                            <mat-icon aria-label="action.label">clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button mat-button type="button" color="primary" (click)="addSede()">Agregar sede</button>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center flex-grow-1">
            <button mat-raised-button color="primary" [mat-dialog-close]
                class="mr-4 on-hover-box-shadow">Cancelar</button>
            <button mat-raised-button color="primary" class="on-hover-box-shadow d-flex justify-content-center"
                (click)="submitForm()" [disabled]="!centroForm.valid && !isSubmitting">
                <span *ngIf="!isSubmitting">Guardar</span>
                <mat-spinner class="py-2" color="accent" diameter="20" *ngIf="isSubmitting"></mat-spinner>
            </button>
        </div>
    </form>
</div>