<h1 *ngIf="profesor == null" mat-dialog-title class="text-center mb-3">Agregar un profesor</h1>
<h1 *ngIf="profesor != null" mat-dialog-title class="text-center mb-3">Editar {{profesor.nombre}} {{profesor.apellido}}</h1>
<div mat-dialog-content >
    <form [formGroup]="profesorForm" class="h-100 d-flex flex-column">
        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Nombre" type="text" name="nombre" formControlName="nombre" [required]="true">
                <mat-error *ngIf="!!f.nombre.errors">
                    <span *ngIf="!!f.nombre.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Apellido" type="text" name="apellido" formControlName="apellido" [required]="true">
                <mat-error *ngIf="!!f.apellido.errors">
                    <span *ngIf="!!f.apellido.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Email" type="email" name="email" formControlName="email" [required]="true">
                <mat-error *ngIf="!!f.email.errors">
                    <span *ngIf="!!f.email.errors.required">Este campo es obligatorio</span>
                    <span *ngIf="!!f.email.errors.email">El email ingresado es incorrecto</span>
                    <span *ngIf="!!f.email.errors.userExists">Un usuario con este email ya existe</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="DNI" type="text" name="dni" formControlName="dni" [required]="true">
                <mat-error *ngIf="!!f.dni.errors">
                    <span *ngIf="!!f.dni.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <mat-label>Sexo</mat-label>
                <mat-select name="sexo" formControlName="sexo" [required]="true">
                    <mat-option value="Femenino">Femenino</mat-option>
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Otro">Otro</mat-option>
                </mat-select>
                <mat-error *ngIf="!!f.sexo.errors">
                    <span *ngIf="!!f.sexo.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Teléfono" type="text" name="telefono" formControlName="telefono">
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12">
                <input matInput placeholder="Dirección" type="text" name="direccion" formControlName="direccion">
            </mat-form-field>
        </div>
        
        <div class="row d-flex justify-content-center align-items-center flex-grow-1">
            <button mat-raised-button color="primary" [mat-dialog-close] class="mr-3 on-hover-box-shadow">Cancelar</button>
            <button mat-raised-button color="primary" class="on-hover-box-shadow d-flex justify-content-center" (click)="submitForm()" [disabled]="!profesorForm.valid && !isSubmitting">
                <span *ngIf="!isSubmitting">Crear</span>
                <mat-spinner class="py-2" color="accent" diameter="20" *ngIf="isSubmitting"></mat-spinner>
            </button>
        </div>
    </form>
</div>