<div class="pt-4 h-100">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="position-relative">
        <app-dynamic-filters 
            [filters]="filters"
            (parentActions)="myTeamActions($event)"
            class="w-100">
        </app-dynamic-filters>
        <button class="list-fab-btn on-hover-box-shadow" matTooltip="Nuevo usuario" matTooltipPosition="right" mat-mini-fab [color]="themeColor" (click)="openDialog()">
            <mat-icon>person_add</mat-icon>
        </button>
        <app-dynamic-table
            [dataSource]="users"
            [columnsArray]="columns"
            [actions]="actions"
            [multiCheck]="false"
            [showLoader]="showLoader"
            [hasDetail]="false"
            (parentActions)="myTeamActions($event)"
            class="w-100 mb-5 d-flex justify-content-center align-items-center">
        </app-dynamic-table>
    </div>
</div>