@import "src/styles";

// .auth-container {
//     background: url('assets/images/fondo-2.png') no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     overflow: hidden;
// }

.cloudesk-logo {
    max-height: 250px;
}

.intro-container {
    .thuban-logo {
        div {
            font-size: 0.625rem;
        }
    }
    
    h1 {
        font-size: 4vw;
    }
}

.auth-panel {
    width: 60%;

    @media (min-width: 992px) {
        background-color: setOpacity(light-medium);
    }

    form {
        width: 100%;

        .mat-form-field {
            input:-webkit-autofill {
                color: color(light) !important;
            }
        }
        
        input {
            line-height: 1.3rem !important;
        }
    }

    .forgot-pass {
        @media (max-width: 992px) {
            a {
                font-size: 12px;
            }
        }
    }

    button {
        &.access-btn {
            @media (min-width: 992px) {
                width: 60%;
            }
        }
    }
}

button {
    font-size: 1rem;
    width: 12rem;

    &.change-access {
        background-color: setOpacity(sky-blue);
    }

    &.google-button {
        img {
            left: 0.9375rem;
        }
    }
}