<h1 *ngIf="curso == null" mat-dialog-title class="text-center mb-3">Crear curso</h1>
<h1 *ngIf="curso != null" mat-dialog-title class="text-center mb-3">Editar curso "{{curso.nombre}}"</h1>
<div mat-dialog-content>
    <form [formGroup]="cursoForm" class="h-100 d-flex flex-column">
        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Nombre" type="text" name="nombre" formControlName="nombre" [required]="true">
                <mat-error *ngIf="!!f.nombre.errors">
                    <span *ngIf="!!f.nombre.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Nivel del curso" type="text" name="nivel" formControlName="nivel" [required]="true">
                <mat-error *ngIf="!!f.nivel.errors">
                    <span *ngIf="!!f.nivel.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <mat-label>Categoría/Tipo</mat-label>
                <mat-select name="materia" formControlName="materia" [required]="true">
                    <mat-option *ngFor="let materia of materias" [value]="materia._id" >
                        {{ materia.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!!f.materia.errors">
                    <span *ngIf="!!f.materia.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <mat-select multiple placeholder="Profesores asignados al curso" formControlName="profesores" [required]="true">
                    <mat-option *ngFor="let profesor of profesores" [value]="profesor._id" >
                        {{profesor.nombre}} {{profesor.apellido}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!!f.profesores.errors">
                    <span *ngIf="!!f.profesores.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12">
                <textarea matInput placeholder="Descripción breve del curso" type="textarea" name="descripcion" formControlName="descripcion" [required]="true"></textarea>
                <mat-error *ngIf="!!f.descripcion.errors">
                    <span *ngIf="!!f.descripcion.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha inicial"
                    formControlName="fechaInicio" [max]="cursoForm.get('fechaFin').value" [required]="true">
                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <input matInput [matDatepicker]="fechaFin" placeholder="Fecha final"
                    formControlName="fechaFin" [min]="cursoForm.get('fechaInicio').value" [required]="true">
                <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <!-- <mat-form-field class="col-12 col-sm-4">
                <input matInput placeholder="Duración" type="number" name="duracion" formControlName="duracion" [required]="true">
                <mat-error *ngIf="!!f.duracion.errors">
                    <span *ngIf="!!f.duracion.errors.required">Este campo es obligatorio</span>
                </mat-error>
                <mat-hint align="end">En horas</mat-hint>
            </mat-form-field> -->
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Precio" type="precio" name="precio" formControlName="precio" [required]="true">
                <mat-error *ngIf="!!f.precio.errors">
                    <span *ngIf="!!f.precio.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Vacantes" type="vacantes" name="vacantes" formControlName="vacantes" [required]="true">
                <mat-error *ngIf="!!f.vacantes.errors">
                    <span *ngIf="!!f.vacantes.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-12">
                <mat-select placeholder="Sede" name="sede" formControlName="sede" [required]="true">
                    <mat-option *ngFor="let sede of sedes" [value]="sede._id">{{sede.localidad}} - {{sede.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row flex-fill mb-3">
            <div class="col-12">Días y horarios</div>
            <div formArrayName="diasYHorarios" class="col-12 p-0">
                <div class="col-12 p-0" *ngFor="let diaYHorario of diasYHorariosFormGroup.controls; let i = index; let first = first;" [formGroupName]="i">
                    <mat-form-field class="col-12 col-sm-4">
                        <mat-label>Día</mat-label>
                        <mat-select name="dia" formControlName="dia">
                            <mat-option *ngFor="let day of weekDays" [value]="day">{{day}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-sm-3">
                        <input matInput type="time" placeholder="Desde" formControlName="horarioDesde">
                    </mat-form-field>
                    <mat-form-field class="col-12 col-sm-3">
                            <input matInput type="time" placeholder="Hasta" formControlName="horarioHasta">
                        </mat-form-field>
                    <div class="col-2 d-inline-block text-center" *ngIf="!first">
                        <button mat-mini-fab class="on-hover-box-shadow" color="primary"
                            matTooltip="Eliminar pregunta" matTooltipPosition="above"
                            (click)="removeDiaYHorario(i)">
                            <mat-icon aria-label="action.label">clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button mat-button type="button" color="primary" (click)="addDiaYHorario()">Agregar día y horario</button>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center flex-grow-1">
            <button mat-raised-button color="primary" [mat-dialog-close]
                class="mr-4 on-hover-box-shadow">Cancelar</button>
            <button mat-raised-button color="primary" class="on-hover-box-shadow d-flex justify-content-center"
                (click)="submitForm()" [disabled]="!cursoForm.valid && !isSubmitting">
                <span *ngIf="!isSubmitting">Guardar</span>
                <mat-spinner class="py-2" color="accent" diameter="20" *ngIf="isSubmitting"></mat-spinner>
            </button>
        </div>
    </form>
</div>