<div class="pt-4 h-100">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <mat-vertical-stepper class="w-100 mb-5 mat-elevation-z8" linear #stepper>
        <mat-step *ngFor="let step of steps" [stepControl]="step.stepFormGroup" editable="false">
            <ng-template matStepLabel>{{step.stepLabel}}</ng-template>
            <form [formGroup]="step.stepFormGroup">
                <div class="row" rowHeight="4:0.8" (window:resize)="onResize($event)">
                    <div *ngFor="let field of step.formFields" [ngClass]="['col-' + field.col, 'col-sm-' + field.colSm, 'col-md-' + field.colMd, 'col-lg-' + field.colLg]">
                        <mat-form-field class="w-100 mr-5" *ngIf="field.type == 'text'">
                            <input type="text" matInput [placeholder]="field.fieldLabel" [formControlName]="field.fieldControl" [required]="field.required">
                        </mat-form-field>
                        <mat-form-field class="w-100" *ngIf="field.type == 'select'">
                            <mat-select [placeholder]="field.fieldLabel" [formControlName]="field.fieldControl" [required]="field.required">
                                <mat-option *ngFor="let option of field.options" [value]="option._id + '|' + option.name" >
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="field.type == 'boolean'"> 
                            <mat-checkbox [formControlName]="field.fieldControl" color="primary">{{field.label}}</mat-checkbox>
                        </div>
                    </div>
                    <div *ngFor="let button of step.formFields">
                        <button *ngIf="button.hasMiniBtn" cols="1" mat-mini-fab class="on-hover-box-shadow" color="primary" (click)="openDialog()">
                            <mat-icon aria-label="Añadir nueva empresa">add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <div class="text-center mt-3">
                        <!-- <button *ngIf="step.stepLabel != 'Datos del potencial cliente'" class="mr-4 on-hover-box-shadow" mat-raised-button color="primary" matStepperPrevious>Volver</button> -->
                        <button *ngIf="step.stepLabel == 'Datos del potencial cliente'" mat-raised-button class="on-hover-box-shadow" color="primary" matStepperNext>Siguiente</button>
                        <button *ngIf="step.stepLabel != 'Datos del potencial cliente'" mat-raised-button class="on-hover-box-shadow" (click)="createOpportunity(stepper)" color="primary">Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step editable="false">
            <ng-template matStepLabel>Crear oportunidad</ng-template>
            <span *ngIf="opportunity != null">
                Oportunidad <strong>{{ opportunity.name }}</strong> creada
            </span>
            <div>
                <button mat-raised-button class="on-hover-box-shadow mt-2" (click)="opportunityFilter()" color="primary">Ver oportunidad</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>