:host /deep/ {
    .ed-table {
        .loading-shade {
            top: 56px;
            left: 0;
            bottom: 56px;
            right: 0;
            background: rgba(0, 0, 0, 0.15);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
        }

        .mat-table {
            height: 90%;

            tr.detail-row {
                height: 0;
            }

            tr.element-row:not(.expanded-row):hover {
                background: #f5f5f5;
                cursor: pointer;
            }

            tr.element-row:not(.expanded-row):active {
                background: #efefef;
            }

            .element-row td {
                border-bottom-width: 0;
            }

            .element-detail {
                overflow: hidden;
                display: flex;

                .detail-list-header {
                    font-size: 12px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.54);
                }

                .detail-list-cell {
                    font-size: 14px;
                }
            }

            tr.mat-row:not(.detail-row) {
                height: 55px;
                line-height: 55px;
            }

            .mat-checkbox {
                vertical-align: middle;
            }
        }

        .mat-paginator {
            height: 10%;
            min-height: 58px;
            max-height: 58px;
            position: sticky;
            bottom: 0;
        }

        .mat-mini-fab {
            width: 30px;
            height: 30px;

            .mat-button-wrapper {
                display: flex;
                align-items: center;

                .mat-icon {
                    width: 30px;
                    height: 15px;
                    line-height: 15px;
                    font-size: 20px;
                }
            }
        }
    }
}
