<h1 mat-dialog-title class="text-center mb-3">Agregar constantes para la propuesta comercial</h1>
<div mat-dialog-content>
    <form [formGroup]="constatnsForm" class="h-100 d-flex flex-column">
        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Licencia Thuban software" type="number" name="thubanLicense"
                    formControlName="thubanLicense"
                    [required]="true">
                <mat-error *ngIf="!!f.thubanLicense.errors">
                    <span *ngIf="!!f.thubanLicense.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Mantenimiento licencia Thuban software" type="number" name="thubanMaintenance"
                    formControlName="thubanMaintenance"
                    [required]="true">
                <mat-error *ngIf="!!f.thubanMaintenance.errors">
                    <span *ngIf="!!f.thubanMaintenance.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Licencia Captika software" type="number" name="capitkaLicense"
                    formControlName="capitkaLicense"
                    [required]="true">
                <mat-error *ngIf="!!f.capitkaLicense.errors">
                    <span *ngIf="!!f.capitkaLicense.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Mantenimiento licencia Captika software" type="number" name="captikaMaintenance"
                    formControlName="captikaMaintenance"
                    [required]="true">
                <mat-error *ngIf="!!f.captikaMaintenance.errors">
                    <span *ngIf="!!f.captikaMaintenance.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12">
                <input matInput placeholder="Valor de hora" type="number" name="hourValue"
                    formControlName="hourValue"
                    [required]="true">
                <mat-error *ngIf="!!f.hourValue.errors">
                    <span *ngIf="!!f.hourValue.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por tipo de documento a digitalizar" type="number" name="docTypeHours"
                    formControlName="docTypeHours"
                    [required]="true">
                <mat-error *ngIf="!!f.docTypeHours.errors">
                    <span *ngIf="!!f.docTypeHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por tipo de documento a reconocer" type="number" name="autoRecognitionDocHours"
                    formControlName="autoRecognitionDocHours"
                    [required]="true">
                <mat-error *ngIf="!!f.autoRecognitionDocHours.errors">
                    <span *ngIf="!!f.autoRecognitionDocHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por clase documental" type="number" name="documentClassHours"
                    formControlName="documentClassHours"
                    [required]="true">
                <mat-error *ngIf="!!f.documentClassHours.errors">
                    <span *ngIf="!!f.documentClassHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por campo de CD" type="number" name="documentClassFieldHours"
                    formControlName="documentClassFieldHours"
                    [required]="true">
                <mat-error *ngIf="!!f.documentClassFieldHours.errors">
                    <span *ngIf="!!f.documentClassFieldHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por workflow" type="number" name="wokflowHours"
                    formControlName="wokflowHours"
                    [required]="true">
                <mat-error *ngIf="!!f.wokflowHours.errors">
                    <span *ngIf="!!f.wokflowHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por estado de WF" type="number" name="wokflowStatesHours"
                    formControlName="wokflowStatesHours"
                    [required]="true">
                <mat-error *ngIf="!!f.wokflowStatesHours.errors">
                    <span *ngIf="!!f.wokflowStatesHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por monitor" type="number" name="monitorHours"
                    formControlName="monitorHours"
                    [required]="true">
                <mat-error *ngIf="!!f.monitorHours.errors">
                    <span *ngIf="!!f.monitorHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas por grupo particante" type="number" name="groupsHours"
                    formControlName="groupsHours"
                    [required]="true">
                <mat-error *ngIf="!!f.groupsHours.errors">
                    <span *ngIf="!!f.groupsHours.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas de instalación" type="number" name="installation"
                    formControlName="installation"
                    [required]="true">
                <mat-error *ngIf="!!f.installation.errors">
                    <span *ngIf="!!f.installation.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Horas de análisis y especificación" type="number" name="analisis"
                    formControlName="analisis"
                    [required]="true">
                <mat-error *ngIf="!!f.analisis.errors">
                    <span *ngIf="!!f.analisis.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Capacitación a administradores" type="number" name="adminsTraining"
                    formControlName="adminsTraining"
                    [required]="true">
                <mat-error *ngIf="!!f.adminsTraining.errors">
                    <span *ngIf="!!f.adminsTraining.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Porcentaje de horas por Scripting" type="number" name="scriptingPercentaje"
                    formControlName="scriptingPercentaje"
                    [required]="true">
                <mat-error *ngIf="!!f.scriptingPercentaje.errors">
                    <span *ngIf="!!f.scriptingPercentaje.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Porcentaje de horas por segundo prototipo" type="number" name="secondPrototypePercentaje"
                    formControlName="secondPrototypePercentaje"
                    [required]="true">
                <mat-error *ngIf="!!f.secondPrototypePercentaje.errors">
                    <span *ngIf="!!f.secondPrototypePercentaje.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 col-sm-6">
                <input matInput placeholder="Porcentaje de horas por tercer prototipo" type="number" name="thirdPrototypePercentaje"
                    formControlName="thirdPrototypePercentaje"
                    [required]="true">
                <mat-error *ngIf="!!f.thirdPrototypePercentaje.errors">
                    <span *ngIf="!!f.thirdPrototypePercentaje.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row d-flex justify-content-center align-items-center flex-grow-1">
            <button mat-raised-button [color]="themeColor" [mat-dialog-close] class="mr-4 on-hover-box-shadow">Cancelar</button>
            <button mat-raised-button [color]="themeColor" class="on-hover-box-shadow d-flex justify-content-center" (click)="submitForm()" [disabled]="!constatnsForm.valid && !isSubmitting">
                <span *ngIf="!isSubmitting">Guardar</span>
                <mat-spinner class="py-2" color="accent" diameter="20" *ngIf="isSubmitting"></mat-spinner>
            </button>
        </div>
    </form>
</div>
