<div class="pt-4 h-100">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="position-relative">
        <app-dynamic-filters 
            [filters]="filters"
            (parentActions)="salesChannelsActions($event)"
            class="w-100">
        </app-dynamic-filters>
        <!-- <app-multiple-fab-btn [fabButtons]="fabButtons" (parentActions)="salesChannelsActions($event)"></app-multiple-fab-btn> -->
        <button class="list-fab-btn on-hover-box-shadow" mat-mini-fab [color]="themeColor" matTooltip="Nuevo Canal de Venta" matTooltipPosition="right" (click)="openCompanyDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <app-dynamic-table
            [dataSource]="salesChannels"
            [columnsArray]="columns"
            [actions]="actions"
            [showLoader]="showLoader"
            [multiCheck]="false"
            [hasDetail]="true"
            [detailType]="'list'"
            [detailListItems]="'users'"
            [detailListColumns]="detailListColumns"
            [detailListActions]="detailListActions"
            (parentActions)="salesChannelsActions($event)"
            class="w-100 mb-5 d-flex justify-content-center align-items-center">
        </app-dynamic-table>
    </div>
</div>