<h1 mat-dialog-title class="text-center mb-3">Demo para "{{opportunity.name}}"</h1>
<div mat-dialog-content>
    <form [formGroup]="opportunityForm" class="h-100 d-flex flex-column">
        <div class="row">
            <mat-form-field class="col-12 col-sm-6">
                <mat-label>Cliente</mat-label>
                <mat-select name="companyClient" formControlName="companyClient" [required]="true">
                    <mat-option *ngFor="let client of clients" [value]="client._id">{{client.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!!f.companyClient.errors">
                    <span *ngIf="!!f.companyClient.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-12">
                <input matInput placeholder="Nombre" type="text" name="name" formControlName="name" [required]="true">
                <mat-error *ngIf="!!f.name.errors">
                    <span *ngIf="!!f.name.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field class="col-12">
                <textarea matInput placeholder="Descripción" type="textarea" name="description" formControlName="description" [required]="true"></textarea>
                <mat-error *ngIf="!!f.description.errors">
                    <span *ngIf="!!f.description.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-checkbox class="col-12 col-sm-3 big-check" color="primary" name="digitization"
                formControlName="digitization" [required]="!opportunityForm.get('docManager').value && !opportunityForm.get('digitization').value">
                Digitalizacion
            </mat-checkbox>
            <mat-checkbox class="col-12 col-sm-3 big-check" color="primary" name="docManager"
                formControlName="docManager" [required]="!opportunityForm.get('docManager').value && !opportunityForm.get('digitization').value">
                Gestor documental
            </mat-checkbox>
            <mat-checkbox class="col-12 col-sm-3 big-check" color="primary" name="hardware"
                formControlName="hardware">
                Hardware
            </mat-checkbox>
            <mat-checkbox class="col-12 col-sm-3 big-check" color="primary" name="automation"
                formControlName="automation" (change)="opportunityForm.get('docManager').setValue(true)">
                Automatización proceso
            </mat-checkbox>
        </div>

        <div class="row d-flex justify-content-center align-items-center flex-grow-1">
            <button mat-raised-button [color]="themeColor" [mat-dialog-close]
                class="mr-4 on-hover-box-shadow">Cancelar</button>
            <button mat-raised-button [color]="themeColor" class="on-hover-box-shadow d-flex justify-content-center"
                (click)="submitForm()" [disabled]="!opportunityForm.valid && !isSubmitting">
                <span *ngIf="!isSubmitting">Guardar</span>
                <mat-spinner class="py-2" color="accent" diameter="20" *ngIf="isSubmitting"></mat-spinner>
            </button>
        </div>
    </form>
</div>