<div class="pt-4 h-100">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="position-relative">
      <app-dynamic-filters 
          [filters]="filters"
          (parentActions)="profesoresActions($event)"
          class="w-100">
      </app-dynamic-filters>
        <button class="list-fab-btn on-hover-box-shadow" mat-mini-fab color="primary" matTooltip="Nuevo Profesor" matTooltipPosition="right" (click)="openProfesoresModal()">
            <mat-icon>add</mat-icon>
        </button>
        <app-dynamic-table
          [dataSource]="profesores"
          [columnsArray]="columns"
          [actions]="actions"
          [multiCheck]="false"
          [showLoader]="showLoader"
          [hasDetail]="false"
          (parentActions)="profesoresActions($event)"
            class="w-100 mb-5 d-flex justify-content-center align-items-center">
        </app-dynamic-table>
    </div>
  </div>
  